<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DeployFilesClone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="log4net.config.Debug.xml" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <DeployFilesClone.Properties.Settings>
      <setting name="BatchDirPath" serializeAs="String">
        <value />
      </setting>
      <setting name="BatchIdArray" serializeAs="String">
        <value>0,1,2,3,4,5,6,7,8,9,10</value>
      </setting>
      <setting name="BatchRenameFileExtensionName" serializeAs="String">
        <value>*.exe,*.exe.config,*.pdb</value>
      </setting>
      <setting name="ReplaceBeforeBatchIdString" serializeAs="String">
        <value>&lt;setting name="hogehogeId" serializeAs="String"&gt;</value>
      </setting>
    </DeployFilesClone.Properties.Settings>
  </userSettings>
</configuration>
